# Ignore Mac stuff
.DS_Store

# Ignore dist
dist/

# Ignore anything starting with 
~*

# Ignore test/out
test/out

# Ignore Nodejs modules
node_modules/

# Safeguards
*.tgz
*.zip

# Safeguards (for no web/ui projects)
*.png
*.jpeg
*.jpg

# Ignore vscode
.vscode